@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #030305;
}

/* Subtle Glow Animation */
@keyframes subtle-pulse {

    0%,
    100% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.05);
    }
}

.glow-effect {
    animation: subtle-pulse 4s infinite ease-in-out;
}

/* Typing Cursor */
.cursor-blink {
    border-right: 2px solid #00e1ff;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.syntax-key {
    color: #00e1ff;
}

.syntax-string {
    color: #a5f3fc;
}

.syntax-num {
    color: #0099ff;
}

button{
    cursor: pointer;
}