
/*profile*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.body-profile{
    background: rgb(244, 244, 244);
}

.body-profile .header{
    border-bottom: 1px solid var(--borde-hover-claro);
}

.body-profile .nav_logo,.nav_items .nav_link{
    color: black;
}

.nav_items .nav_link:hover{
    color: #888;
}

.body-profile .perfil-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 60px 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 50px auto 130px;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid var(--borde-hover-claro);
}

input[type="text"], textarea {
    font-family: 'Open Sans', sans-serif;
}

.body-profile .modal-confirmation {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); 
}

.perfil-container p,.modal-content p, .column li{
    font-size: 14px;
}

svg{
    vertical-align: -3px;
}
.perfil-container svg {
    margin-right: 10px;
    width: 20px;
}

.experiencia h3 i{
    margin-right: 10px;
}

.encabezado-perfil {
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    max-width: 900px;
    color: #333; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--borde-hover-claro);
}

.blob {
    top: 6%;
    right: 8%;
    position: absolute;
    width: 100%;
    max-width: 190px;
    pointer-events: none;
}

.blob-configuration {
    top: 6%;
    right: 8%;
    position: absolute;
    width: 100%;
    max-width: 190px;
    pointer-events: none;
    z-index: -1;
}

.body-profile .encabezado-perfil svg {
    margin-right: 5px;
}

.encabezado-perfil h1 {
    color: var(--azul);
    font-size: 28px;
    font-weight: 700;
}
.encabezado-perfil h1 img{
    margin-right: 5px;
    width: 100%;
    max-width: 28px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado p {
    color: #555;
    font-size: 16px;
    margin-right: 10px;
}

.azul {
    color: var(--azul);
    font-weight: bold;
}

.controles {
    margin-left: 20px;
}

.controles button {
    padding: 8px 12px;
    background: linear-gradient(90deg, #393df79a, rgb(18, 63, 250), rgb(20, 20, 169));
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.controles button:hover {
    background-color: var(--azul-hover); 
}

.column {
    flex: 1;
    min-width: 280px;
}

.perfil-pagina {
    text-align: center;
    margin-bottom: 20px;
}

.perfil-pagina h1 {
    font-size: 32px;
    font-weight: bold;
}

.perfil-pagina h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}

.perfil-background-edit {
    backdrop-filter: blur(12px);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    width: 350px;
    box-sizing: border-box;
}

.foto-perfil {
    width: 100%;
    max-width: 125px;
    height: 100%;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.info-adicional .icon p{
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-adicional .icon a{
    color: black;
}
.info-adicional .icon a i{
    margin-right: 10px;
}
#portafolio i {
    margin-right: 4px;
}

.info-adicional .perfil p,
.info-adicional .experiencia p,
.educacion p,
.proyectos li,
.skills li {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.info-adicional .perfil ,.info-adicional .experiencia{
    margin-top: 30px;

}

.perfil-container h3 {
    font-weight: 800;
    margin-bottom: 10px;
}

.info-adicional,
.skills,
.proyectos,
.educacion {
    margin-bottom: 30px;
}

.proyectos p{
    margin-bottom: 10px;
}


.skills ul {
    list-style: none;
    padding: 0;
    font-size: 15px;

}

.skills ul li {
    list-style: disc;
    margin-left: 20px;
}

.proyectos a {
    font-weight: bold;
    font-size: 13px;
    color: var(--bordes);
    text-decoration: none;
    transition: color 0.3s ease;
    font-style: italic;
}

.proyectos a:hover {
    color: #005bb5;
}

/* Estilos básicos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 820px;
    max-height: 97vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow-y: auto;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.modal-content h2 img{
    width: 24px;
    margin-right: 5px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #0b0217;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.1s ease;
}

.close:hover {
    padding: 0 8px;
    background-color: #adadad9f;
    border-radius: 50%;
    color: black;   
}

/*editar foto*/
.image-edit-container {
    position: relative;
    display: inline-block;
}

.profile-icon-edit {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    position: relative;
}

.svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para el SVG */
.svg-overlay svg {
    color: white;
    width: 30px;
    height: 30px;
}

.profile-image:hover .svg-overlay {
    opacity: 1;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 50%;
    padding: 8px 10px;
    cursor: pointer;
    display: block;
}

.tooltip-edit {
    visibility: hidden;
    width: 100px;
    background-color: #3c4043c7;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 140%; 
    margin-top: -12px; 
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font: 11px 'Open Sans', sans-serif;
}

.edit-icon:hover .tooltip-edit {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.8s; 
}

.edit-icon svg {
    color: white;
    width: 18px;
    height: 18px;
}

.profile-image .edit-icon:hover {
    background-color: var(--bordes);
}

.image-edit-container .name-ft {
    display: block;
    margin-bottom: 5px;
}

.profile-image {
    position: relative;
    display: inline-block;
    margin: 10px 12px 5px 12px;
}

.circulo-claro{
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 160px;
    top: -35px;
    left: -10px;
    pointer-events: none;

}
/*editar foto*/

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Formulario en dos columnas */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-column {
    flex: 0 0 48%; /* Cada columna ocupa el 48% del ancho */
}

.form-column .button-mas {
    padding: 1px 3px;
    background: linear-gradient(90deg, #28a746d3, #04ff3ada);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
   vertical-align: 3px;
    color: white;
}

.form-column .button-mas:hover {
    background-color: #1e612e;
    transform: scale(1.05);
}

.form-row label,.form-row .form-column label {
    font-weight: bold;
    color: #555;
}

input{
    margin-top: 3px;
}

input[type="text"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
    border-color: #007bff; 
    outline: none;
}

textarea {
    min-height: 80px;
    margin-top: 3px;
    resize: none;
}

input:hover,textarea:hover{
    background-color: var(--hover-claro);
    transition: background-color 0.2s ease;
}

.textarea-container {
    position: relative;
    margin-bottom: 20px;
}

.textarea-container textarea {
    width: 100%;
    height: 100px; 
    box-sizing: border-box;
    padding-bottom: 30px;
}

.textarea-container input[type="text"] {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 20%;
    box-sizing: border-box;
    border: 1px solid var(--borde-hover-claro);
}

.textarea-container input[type="text"]:focus {
    border-color: #007bff; 
    outline: none;
}

.modal-content .button-save-edit {
    padding: 10px 15px;
    background: linear-gradient(90deg, #393df79a, rgb(18, 63, 250), rgb(20, 20, 169));
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.modal-content .button-save-edit:hover {
    background-color: #0056b3; 
}

.form__div {
    position: relative;
    height: 52px;
    margin-bottom: 1.5rem;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: #fff;
    color: rgb(85, 85, 85);
    font-size: 14px;
    border-radius: 8px;
}

/* Mueve el label hacia arriba cuando el input tiene focus */
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: 600;
    z-index: 10;
}

/* Para navegadores que no soportan :placeholder-shown */
.form__input:not([value=""]) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
/*modal*/

/*CONFIGURATION*/
.title-configuration {
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    max-width: 900px;
    color: #333; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid var(--borde-hover-claro);
    margin-bottom: 50px;
}

.title-configuration h1 {
    color: var(--azul);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.title-configuration h1 img {
    margin-right: 5px;
    width: 100%;
    max-width: 28px;
}

.title-configuration p{
    color: #555;
    font-size: 16px;
    margin-right: 10px;
}

/* Estilos para la estructura de las tabs */
.tabs-menu {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 20px auto;
}

.tabs-menu svg {
    width: 20px;
    height: 20px;
    vertical-align: -2px;
    margin-right: 5px;
}

.tab-link {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #000000;
    color: white;
    border-radius: 4px;
    border-top: 3px solid rgb(0, 123, 255);
}

.tab-link .icon {
    fill: black; /* Color por defecto */
}

.tab-link.active .icon {
    fill: white; /* Color cuando está activo */
}
.tab-link.active svg path {
    fill: white; /* Cambia el color a lo que desees */
    stroke: white; /* Cambia el color del borde */

}

/* Estilos para el contenido de las tabs */
.tabs-content {
    max-width: 900px;
    margin: 20px auto 130px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tab-content {
    display: none;
    align-items: start;
    max-width: 800px;
    margin: 0 auto;
}

.tab-content a svg{
    margin-right: 10px;
}

.tab-content.active {
    display: block;
}

.seguridad{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px;
    align-items: start; 
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.seguridad label{
    font-size: 16px;
   display: block; 
}

#notifications label{
    font-size: 16px;
   display: block; 
}

.seguridad input[type="email"],
.seguridad  input[type="password"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    vertical-align: 10px;
}

/* Cambios de color en focus */
.seguridad input[type="email"]:focus,
.seguridad input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Estilos para el botón de guardar */
.save-button {
    padding: 10px 20px;
    background: linear-gradient(90deg, #393df79a, rgb(18, 63, 250), rgb(20, 20, 169));
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover en el botón */
.save-button:hover {
    background-color: rgb(27, 69, 249);
}

/* Estilo de botón al hacer click */
.save-button:active {
    background-color: #4c00ff;
}

/* Estilos adicionales */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.social-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.facebook {
    background-color: rgb(24, 119, 242);
    transition: background-color 0.3s ease;
}

.facebook:hover {
    background-color: rgb(21, 101, 206);
}

.github {
    background-color: rgb(13, 17, 23);
    transition: background-color 0.3s ease;
}

.github:hover {
    background-color: rgb(43, 45, 48);
}

.google {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid var(--bordes);
    transition: background-color 0.3s ease;
}

.google:hover {
    background-color: var(--hover-claro);
}

.delete-button {
    background-color: #ff4b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 390px;
    margin-top: 15px;
}

.delete-button:hover {
    background-color: #f51a25;
}
/*CONFIGURATION*/

/*SuccessfullEdit*/
.modal-update-success {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.modal-update-success.visible {
    display: flex; 
}

.modal-update-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-update-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.modal-update-gif {
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.modal-update-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #0b0217;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.1s ease;
}

.modal-update-close:hover {
    padding: 0 8px;
    background-color: #adadad9f;
    border-radius: 50%;
    color: black;   
}

.modal-update-button {
    background: linear-gradient(90deg, #393df79a, rgb(18, 63, 250), rgb(20, 20, 169)); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-update-button:hover {
    background-color: var(--azul-hover);
}

/*SuccessfullEdit*/

